<!DOCTYPE html>
<html>
<head>
    <title>Buscar Historial</title>
</head>
<body>
    <h1>Buscar Historial Médico</h1>
    <form method="post">
        <input type="text" name="search_term" placeholder="ID del Paciente o Descripción">
        <button type="submit">Buscar</button>
    </form>
    {% if paciente %}
        <h2>Paciente: {{ paciente[0] }} ({{ paciente[1] }})</h2>
    {% endif %}
    {% if historiales %}
        <ul>
            {% for historial in historiales %}
                <li>
                    <strong>ID:</strong> {{ historial.id_historial }} <br>
                    <strong>ID Paciente:</strong> {{ historial.id_usuario_paciente }} <br>
                    <strong>Descripción:</strong> {{ historial.descripcion }} <br>
                    <strong>Fecha de Creación:</strong> {{ historial.fecha_creacion }} <br>
                    <strong>Notas:</strong> {{ historial.notas }} <br>
                    <strong>Diagnóstico:</strong> {{ historial.diagnostico }} <br>
                    <strong>Tratamiento:</strong> {{ historial.tratamiento }} <br>
                    <form method="post" action="{{ url_for('historiales.delete_historial', id_historial=historial.id_historial) }}" style="display:inline;">
                        <button type="submit">Eliminar</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>
